.container {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.weather {
  max-width: 380px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  margin: 10px auto;
  background: linear-gradient(130deg, rgb(114, 114, 231), rgb(4, 4, 235));
}


